@import "tailwindcss";

.custom-shadow{
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.spinner {
   width: 24px;
   height: 24px;
   display: grid;
   border-radius: 50%;
   -webkit-mask: radial-gradient(farthest-side,#0000 40%,#ffffff 41%);
   background: linear-gradient(0deg ,rgba(255,255,255,0.5) 50%,rgba(255,255,255,1) 0) center/1.9px 100%,
        linear-gradient(90deg,rgba(255,255,255,0.25) 50%,rgba(255,255,255,0.75) 0) center/100% 1.9px;
   background-repeat: no-repeat;
   animation: spinner-d3o0rx 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}

.spinner::after {
   opacity: 0.83;
   transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
   100% {
      transform: rotate(1turn);
   }
}
.custom-shadow-03{
 box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.input-style {
  @apply px-3 py-2 border border-gray-300 rounded-lg outline-none font-semibold text-gray-700;
}
